@font-face {
  font-family: "iconfont"; /* Project id 3156620 */
  src: url('iconfont.woff2?t=1651917200021') format('woff2'),
       url('iconfont.woff?t=1651917200021') format('woff'),
       url('iconfont.ttf?t=1651917200021') format('truetype'),
       url('iconfont.svg?t=1651917200021#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-youxiang:before {
  content: "\e60d";
}

.iconfont-QQ:before {
  content: "\e667";
}

.iconfont-csdn:before {
  content: "\e638";
}

.iconfont-shejiaotubiao-46:before {
  content: "\e64b";
}

.iconfont-GitHub:before {
  content: "\e8c6";
}

.iconfont-github:before {
  content: "\e712";
}

.iconfont-bilibili-line:before {
  content: "\e75d";
}

.iconfont-bilibili:before {
  content: "\e609";
}

.iconfont-gitee:before {
  content: "\e60c";
}

.iconfont-sousuo:before {
  content: "\eafe";
}

